#profile {
    margin-top: 9rem;
}

#nameBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 0.2rem;
}

#image {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 9rem;
}

#pfp {
    width: 15%;
    height: auto;
    border-radius: 15rem;
}

h2 {
    color: black;
}

#emailBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

#mail {
    border-radius: 1rem;
    box-shadow: 0 0 5px #5AC4FF;
    width: 40%;
}

#specificityBox, #emailBox {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 2rem;
}

.spec {
    border-radius: 1rem;
    text-align: center;
    width: 40%;
    box-shadow: 0 0 5px #5AC4FF;
}